*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif; ;
  } 
  
  li {
    list-style: none;
  }
  
  .header-menu{
     width: 100%;
    display: flex;
    justify-content: flex-end;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    height:  60px;
    background-color: #60a6e0;
  } 
  
  .header-menu nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  /* Fonte menu */
  .lista-menu li>a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: inherit;
  } 
  /* Caixa texto sobre */
  .principal{
    height: 80vh;
    display: flex;
    background-color: #eaeaea;
    width: 100%;
    justify-content: flex-end;
    align-items: center
    
  }
  /* Margem */
  .container{
    max-width: 1800px;
    width: 100%;
    padding-bottom: 5px;
padding-left: 50px;
padding-right: 5px;
padding-top: 7px;
  }
  
  .subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: -51px;
 padding-bottom: -110px;
 width: 100%;
  }
  
  .nome-completo{
    font-size: 36px;
    color: #b1325ad9;
    font-weight: 700;
    height: 45px;
  }
  
  .profissao{
    color: #af637bd9;
    height: 20px;
  
  } 
  
  .texto-sobre{
    font-size: 20px;
    line-height: 32px;
    color: #2c2c2d;
    padding-top: -51px;
    padding-bottom: -32px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
   
  } 
  
  .article-lista{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: column;
  }
  
  .topico-principal{
    font-size: 36px;
    color: #b1325ad9;
    padding-top: -51px;
 padding-bottom: 32px;
 width: 100%;
  height: 8vh;
  } 
  
  
  
  .lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color: #2c2c2d;
    font-weight: 600;
  }
  
  .lista-local{
    font-size: 18px;
    color: #2c2c2d;
  

  }

  /* Formação */
   .lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #828282;
    font-weight: 300;
    
  
  } 

  .fotoperfil{
    width: 180px;
    height: 180px;
    border-radius: 200px;
    margin-top: 75px;

}


.footer {
  background-color: #60a6e0;
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding-top: 15px;
 padding-bottom: 0px;

}

.lista-footer{
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: table;
  align-items: center;
}

.btn-like {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.projetosPessoais{
 background-color: #EAEAEA;
 padding-top: 32px;
 padding-bottom: 32px;
 width: 100%;
} 


:root {
  --pink: #af637bd9;
  --pink-black: #b1325ad9;
  --graycolor: #4b0c0c;
  
}

.btn {
  width: -10px;
  height: 88px;
  outline: 15;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center
  
}



.btn:hover {
  box-shadow: 0px 1px 25px rgba(231, 45, 150, 0.929);
}

.btn-curtir {
  padding: 1.5rem 1.50rem 1.50rem 2rem;
  font-size: 2rem;
  border-radius: 0px; 
  background-color: transparent;
}

.btn-curtir.curtido {
  background: var(--pink);
  border-color: var(--pink-black);
}

/* Icone do botão */
.btn-icone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cor do icone e pulsar */
.curtido .btn--icone-curtir {
  transform: scale(2);
}

.btn:not(.curtido).btn--icone-curtido {
  transform: scale(-2);
}

.curtido .btn--icone-curtir,
.btn--icone-curtido {
  opacity: 0;
  position: absolute;
}

.btn--icone-curtir,
.curtido .btn--icone-curtido {
  opacity: 1;
  left: 1.5rem;
}

/*-- Conteudo do botão -- */
.btn-conteudo {
  display: inline-block
}

/* Rotação */
.btn:not(.curtido) .btn-conteudo--curtido {
  transform: translate(110px);
}

.btn:not(.curtido) .btn-conteudo--curtir {
  transform: translate(-99px);
}

.curtido .btn-conteudo--curtir {
  transform: translate(40px);
}

.btn-conteudo--curtido {
  transform: translate(-11px);
}

/* Classes que utilizam propriedades iguais */
.btn,
.btn-curtir,
.btn-icone,
.curtido,
.btn-conteudo,
.btn-conteudo--curtir,
.btn-conteudo--curtir {
  transition: 1.5s;
}

.btn,
.btn:hover.curtido .btn-conteudo,
.btn.curtido:hover .btn-icone {
  color: var(--pink-black);
}

.btn:hover,
.btn:hover .btn-icone {
  color: var(--pink);
}

.curtido .btn--icone-curtir,
.btn--icone-curtido,
.curtido .btn-conteudo {
  color: var(--white);
}







@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


body {

    

    align-items: center;
    display: flex;
    flex-direction: column;
  
}

canvas {
    background-color: #111;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  
}


  .snake{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: #b1325ad9

}

.score--value {
    font-weight: 700;
    font-size: 1,5rem;
    display: block;
    margin-top: -10px;
    color: #af637bd9

}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 1250px;
}




.final-score {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #ffffffd9
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
/* {
} */
